.jumbotron {
    background-color: rgb(121, 206, 206)

}

body {
    background-color: rgb(254, 198, 208)
}

#title {
    color: darkgrey;
    text-align: center;
    vertical-align: middle;
    font-family: 'Shrikhand', cursive;
}

#formArea {
    width: 400px;
    height: 400px;
}

.activated {
    background-color: pink;

}

p, button {
    font-family: 'Nixie One', cursive;
    font-size: 24px;
    

}
.delete {
    background-color: lightgrey;
    font-size: 16px;
}
.complete {
    background-color: rgb(237, 184, 94);
    font-size: 16px;
}

.completed {
    color: rgb(132, 133, 128);
    text-decoration: line-through;
}